#titulo{
   text-shadow: 3px 5px 5px rgb(47, 42, 51);
}

#grafico{
   height: 200px;
   width: 200px;
}
#in{
   text-shadow: 1px 3px rgb(59, 41, 78);
}
#de{
   text-shadow: 1px 3px rgb(59, 41, 78);
}
#co{
   text-shadow: 1px 3px rgb(59, 41, 78);
}